/*base*/
.whiteb {
	background: #ffffff;
}

.blackb {
	background: #000000;
}

.whitetext {
	color: #ffffff;
}

.blacktext {
	color: #000000;
}

/*red background*/
.redb10 {
	background: #ffe6e6;
}

.redb9 {
	background: #ffb3b3;
}

.redb8 {
	background: #ff9999;
}

.redb7 {
	background: #ff4d4d;
}

.redb6 {
 	background: #ff1a1a;
}

.redb5 {
	background: #ff0000;
}

.redb4 {
	background: #cc0000;
}

.redb3 {
	background: #800000;
}

.redb2 {
	background: #660000;
}

.redb1 {
	background: #4d0000;
}
